<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% include partials/header %>
    <main class="w-full">
      <form
        action="/articles/addarticle"
        method="POST"
        enctype="multipart/form-data"
      >
        <h3>Enter Your Article</h3>
        <input
          type="text"
          name="articleName"
          placeholder="Enter Article Name"
        />
        <input type="file" name="imageFile" />
        <textarea
          name="description"
          id=""
          cols="30"
          rows="4"
          placeholder="discription"
        ></textarea>
        <input type="text" name="author" placeholder="Enter Your Author Name" />
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
